* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

.header {
    height: 20vh;
    background-color: green;
    color: white;
    position: relative;
}

.logo {
    height: 5vh;
}

.refrao {
    display: block;
    text-align: center;
    height: 10vh;
    font-size: 64px;
}

.indices {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.links {
    margin-right: 8px;
    border: 1px black solid;
    border-radius: 1px;
    padding: 8px;
    text-decoration: none;
    background-color: grey;
    font-weight: bold;
    font-style: oblique;
    color: black;
}

.corpo {
    height: 60vh;
    font-size: 32px;
    color: white;
    position: relative;
    background-color: black;
}

.texto-corpo {
    position: absolute;
    top: 160px;
    left: 540px;
}

#botao-compra {
    border-radius: 5%;
    background-color:royalblue;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color:gold;
    height: 80px;
    width: 320px;
    position: absolute;
    bottom: 20px;
    left: 800px;
}

.descricao {
    text-align: center;
    padding-top: 64px;
}

.tabela {
    position: absolute;
    top: 160px;
    left: 360px;
    background-color:deepskyblue;
    color:indigo;
}

.tabela,td,th {
    text-align: center;
    border: 3px black solid;
    border-collapse:collapse;
}

.form {
    display: block;
    width: 80vh;
    margin: auto;
    padding-top: 80px;
    color: black;
    background-color:lightgrey;
    text-align: center;
}

.form2 {
    display: block;
    width: 80vh;
    margin: auto;
    color: black;
    background-color: lightgrey;
    text-align: center;
    font-size: 24px;
}

label {
    display: inline-block;
    width: 50vh;
    text-align: left;
}

.seletor {
    position: absolute;
    right: 540px;
    top: 200px;
    height: 32px;
    font-weight: bold;
}

.botao-envio {
    background-color:palegoldenrod;
    height: 64px;
    width: 160px;
    margin-top: 48px;
    margin-bottom: 16px;
    font-size: 24px;
}

.lista {
    width: 280px;
    margin: auto;
    padding-top: 64px;
}


.footer {
    height: 20vh;
    font-size: 32px;
    text-align: center;
    padding-top: 48px;
    background-color:darkorchid;
}

.fotos {
    height: 5vh;
}